.swiper-button-next,.swiper-button-prev{
    color: rgb(49, 46, 46);
    font-weight: 900;
    font-size: small;
    height: 10px;
}
@media only screen and (max-width: 600px){
    .mySwiper img{
        height: 200px;
        width:500px
    }
    .loreal{
        height: 200px;
    }
}
